[submodule "SC2InfoExtractorGo"]
	path = SC2InfoExtractorGo
	url = https://github.com/Kaszanas/SC2InfoExtractorGo
[submodule "SC2MapLocaleExtractor"]
	path = SC2MapLocaleExtractor
	url = https://github.com/Kaszanas/SC2MapLocaleExtractor
